<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ActivityView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18FB1F741D1A8EA3001062F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18FB1F8D1D1A8EA6001062F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18FB1F981D1A8EA6001062F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
